/* styles/Cart.module.css */

.container {
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 100vh;
}

.recipeContainer {
    flex: 1;
    padding: 20px;
    background-color: #fafafa;
    overflow-y: auto;
}

.cartContainer {
    /* Set a fixed width for the cart container */
    background-color: #f8f9fa;
    border-left: 1px solid #ccc;
    padding: 20px;
    overflow-y: auto;
    z-index: 1000;
    flex: 3;
}

.cartContainer.visible {
    transform: translateX(0);
}

.cartHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cartTitle {
    font-size: 2rem;
}

.closeButton {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.emptyCartMessage {
    text-align: center;
    font-size: 1.2rem;
    color: #666;
}

.cartItemsList {
    list-style-type: none;
    padding: 0;
}

.cartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.cartItemDetails {
    flex: 1;
}

.cartItemName {
    font-size: 1.2rem;
    margin: 0;
}

.cartItemPrice {
    font-size: 1rem;
    color: #666;
    margin: 0;
}

.removeItemButton {
    padding: 5px 10px;
    font-size: 0.9rem;
    border: none;
    background-color: #dc3545;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.removeItemButton:hover {
    background-color: #c82333;
}

.clearCartButton {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: none;
    background-color: #dc3545;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.clearCartButton:hover {
    background-color: #c82333;
}
