/* styles/Checkout.module.css */

.checkoutContainer {
    display: flex;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.cartColumn {
    flex: 1;
    background-color: #f8f9fa;
    border-right: 1px solid #ccc;
    overflow-y: auto;
    padding-top: 4vh;
    padding-left: 2vw;
    padding-right: 2vw;
}

.column2 {
    flex: 1;
    padding: 20px;
    background-color: #fff;
}

.cartTitle {
    font-size: 2rem;
    margin-bottom: 20px;
}

.emptyCartMessage {
    text-align: center;
    font-size: 1.2rem;
    color: #666;
}

.cartItemsList {
    list-style-type: none;
    padding: 0;
}

.cartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.cartItemDetails {
    flex: 1;
}

.cartItemName {
    font-size: 1.2rem;
    margin: 0;
}

.cartItemPrice {
    font-size: 1rem;
    color: #666;
    margin: 0;
}

.removeItemButton {
    padding: 5px 10px;
    font-size: 0.9rem;
    border: none;
    background-color: #dc3545;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.removeItemButton:hover {
    background-color: #c82333;
}

.totalPrice {
    font-size: 1.5rem;
    margin-top: 20px;
}

.clearCartButton {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: none;
    background-color: #dc3545;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.clearCartButton:hover {
    background-color: #c82333;
}