.earnContainer {
  padding: 2rem;
  background-color: #f7f8fa;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #333;
}

.title2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1.5rem;
  color: #333;
}

.dropdownContainer {
  margin-top: 2rem;
  width: 100%;
  max-width: 600px;
}

.label {
  margin-right: 1rem;
  font-size: 1rem;
  color: #555;
}

.dropdown {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.earnForm {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.formGroup {
  margin-bottom: 1rem;
  width: 100%;
}

.input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 0.5rem;
}

.submitButton {
  background-color: #0070f3;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  align-self: flex-start;
}

.submitButton:hover {
  background-color: #005bb5;
}

.message {
  margin-top: 1rem;
  font-size: 1rem;
  color: green;
}
