.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    background-color: #333;
    align-items: center;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.inputContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 50%;
}

.input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #218838;
}

.list {
    list-style-type: none;
    padding: 0;
    width: 60%;
}

.listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    background: #222;
    color: white;
    font-size: 1.35rem;
    font-weight: bold;
    font-family: 'Helvetica', sans-serif;
}

.removeButton {
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.removeButton:hover {
    background-color: #c82333;
}