.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    color: white;
    height: 7vh;
}

.logoText {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.logoText:hover {
    text-decoration: none;
    color: black;
}

.navLinks{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: auto;
}

.navLinkText {
    margin-left: 1rem;
    margin-right: 1rem;
    color: black;
    text-decoration: none;
}

.navLinkText:hover {
    font-weight: bold;
}