.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
    min-height: 93vh;
    background: #333;

}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: width 0.3s ease;
    width: 100%;
    padding: 20px;
}

.cardsContainerWithSidebar {
    width: 60%;
}

.card {
    border: 3px solid #ccc;
    border-radius: 20px;
    padding: 30px;
    margin: 8px;
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
    width: calc(33.333% - 16px); /* 3 cards per row */
    height: 180px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    background-color: #333;
    color: white;
    line-height: 1.65rem;
    overflow: hidden;
    word-wrap: break-word;
}


.cardsContainerWithSidebar .card {
    width: calc(50% - 16px); /* 2 cards per row when sidebar is open */
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar {
    position: fixed;
    right: 0;
    top: 10%;
    width: 40%;
    height: 80%;
    background-color: #222;
    color: white;
    line-height: 1.65rem;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    border: white 3px solid;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 20px;
    word-wrap: break-word;
    border-radius: 30px;
}

.sidebarContent {
    overflow-y: auto;
}

.closeButton {
    font-size: 24px;
    cursor: pointer;
    align-self: flex-end;
    position: fixed;
    right: 20px;
    top: 12%;
}

.details {
    margin-top: 16px;
}

#search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.title {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 20px;
}

.item {
    margin: 10px;
    padding: 20px;
    border: 1px solid #000;
}

.search-container {
    position: relative;
    width: 100vw;
}

.search-bar {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    /* width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    align-items: left;
    position: fixed; */
}

.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-content label {
    display: block;
    margin-bottom: 10px;
}


.dropdown-content input[type="number"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-left: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.addButton {
    margin: 10px;
    padding: 10px 20px;
    background-color: #111;
    color: white;
    border: none;
    border-radius: 4px;

}
