/* Recipes.module.css */

.chatbotContainer {
    height: calc(95vh - 100px);
    width: 100%;
    max-width: 45vw;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.chatbotHeader {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.chatbotBody {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
